body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
}

#principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

#head {
    width: 100%;
    top: 0;
}

header {
    height: 80px;
}

.title-content{
    display: flex;
    align-items: center;
    width: 80%;
}

.title {
    margin-left: 20px;
}

.align-principal {
    width: 80%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 80vh;
    padding-left: 20px;
    padding-right: 20px;
}

.content {
    padding: 16px;
    width: 50%;
}

.image {
    padding: 16px;
    width: 25%;
}

.myimg {
    border-radius: 20px;
    border: 4px solid purple;
}